<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>动态加载组件</title>

    <link rel="stylesheet" href="../../dist/reset.css">
    <link rel="stylesheet" href="../../dist/reveal.css">
    <link rel="stylesheet" href="../../dist/theme/black.css">
    <link rel="stylesheet" href="index.css">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="../../plugin/highlight/monokai.css">
</head>
<body>
<div class="reveal">
    <div class="slides" data-transition="convex-in concave-out">
        <!--?封面-->
        <section class="cover">
            <section>
                <h3 style="font-family:'STLiti',华文隶书"><font color="#3E7FEE">主题</font></h3>
                <h5 style="text-transform:none">组件懒加载的实现</h5>
                <br />
<!--                <br />-->
                <p> <small>by <a href="https://github.com/zhoufanglu" target="_blank">lufangzhou</a> </small>
                </p>
                <img style="width: 120px;height: 120px;" data-id="box-img" alt="" class="lazyload inited loaded avatar" data-src="../assets/avatar.png" >

            </section>
        </section>
        <!--?目录-->
        <section style="text-align: left;" data-transition="convex-in concave-out">
            <h5 class="theme">目录</h5>
            <hr style="transition:width 0.5s linear" />
            <div class="catalog-p">
                <p>一、滚动加载数据的实现</p>
                <p>二、组件的动态加载</p>
                <p>三、数据的更新</p>
            </div>
            <hr />
        </section>
        <!--?一、监听滚动条实现-->
        <section data-transition="convex-in concave-out">
            <!--!如何实现-->
            <section>
                <h3>question：</h3>
                <p><em>如何实现一个数据无限滚动？</em></p>
                <img data-id="box-img" alt="" style="width: 50%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/scroll-demo.gif" >
            </section>
            <!--!方案1-->
            <section>
                <h4><label class="theme">方案 1</label>-监听滚动事件</h4>
                <pre data-id="code-animation">
                    <code class="hljs javascript" data-trim data-line-numbers>
                      // 开始观察滚动触发元素
                      const contentRef = ref()
                      const handleScroll = () => {
                        const container = contentRef.value
                        // 判断是否滚动到底部
                        if (
                            container.scrollTop + container.clientHeight >=
                            container.scrollHeight
                        ) {
                          loadMore()
                        }
                      }
					</code>
                    <code class="hljs html" data-trim data-line-numbers>
                        <!--template-->
                        <div ref="contentRef" @scroll="handleScroll">
                            <div v-for="(i, index) in loadList" :key="index" class="card">{{ i }} -- {{ index }}</div>
                        </div>
					</code>
                </pre>
            </section>
            <!--!方案2-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <h4 style="text-transform: none;"><label class="theme">方案2</label > -
                    <a style="font-size: 42px" target="_blank" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Intersection_Observer_API">
                        intersectionObserver
                    </a>
                </h4>
                <div style="display: flex;width: 100%; justify-content: center; padding-left: 10%">
                    <div class="r-hstack justify-center" style="display: flex;flex-direction: column; justify-content: space-between">
                        <div class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                            1
                        </div>
                        <div class="vertical-center api-box" data-id="box2" style="position: relative;top: -113px">
                            2
                        </div>
                    </div>
                    <div class="text" style="display: flex; flex-direction: column; justify-content: flex-start">
                        <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                            <em class="text-border" style="text-align: left; margin-left: 10px">作用</em>
                            <div class="fragment" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                -异步观察某个元素是否在某个视口内 <br>
                                -元素是否相交 <br>
                            </div>
                        </div>
                        <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                            <em class="text-border" style="margin-left: 10px;text-align: left">使用场景</em>
                            <div class="fragment" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                - 懒加载
                                <br>
                                - 无限滚动
                                <br>
                                - 计算广告可见度，估算收入
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--!3-实现--1-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div class="r-hstack justify-center" style="display: flex;flex-direction: column">
                    <div id="top" class="vertical-center">
                        <div class="left api-box api-box-round" data-id="box1" data-auto-animate-delay="0">
                            3
                        </div>
                        <h3 data-id="box2"><em>实现思路</em></h3>
                    </div>
                </div>
                <div class="content r-hstack">
                    <img data-id="box-img" alt="" style="width: 50%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/list-think.png" >
                    <div class="right">
                        <div class="fragment" style="font-size: 24px;margin-top: -140px; margin-left: 45px">
<!--                            <h4>缺点：</h4>-->
                            <div style="display: flex; flex-direction: column;justify-content: flex-start;align-items: flex-start">
                                <span style="margin-bottom: 6px;">1、观察浏览器视口，用户可见部分</span>
                                <span style="margin-bottom: 6px;">2、监视绿色区</span>
                                <span style="margin-bottom: 6px;">3、触发加载函数</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--!4-主要代码-->
            <section style="text-align: left;" data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div style="font-size:25px; display: flex;align-items: center;" class="theme" >
                    <div class="left api-box api-box-round" data-id="box1" data-auto-animate-delay="0">
                        4
                    </div>
                    <em>主要代码: <a target="_blank" href="https://github.com/zhoufanglu/vue3-vite-ts/blob/master/src/views/test/scroll-observer/index.vue">查看完整代码</a></em>
                </div>
                <div style="display: flex; align-items: center">
                    <pre data-id="code-animation" style="width: 100%">
                        <!--<code class="hljs javascript" data-trim data-line-numbers>
                            <template>
                              <ul class="p-scroll">
                                &lt;!&ndash;?列表区域&ndash;&gt;
                                <li v-for="(i, index) in loadList" :key="index" class="card">
                                    {{ i }} &#45;&#45; {{ index }}
                                </li>
                                  &lt;!&ndash;?IntersectionObserver监听的对象&ndash;&gt;
                                <li ref="observerElement" class="observer-element">监听的dom</li>
                              </ul>
                            </template>
					    </code>
                        <br>-->
                        <code class="hljs javascript" data-trim data-line-numbers>
                            let observer = new IntersectionObserver(
                              (entries) => { // entries就是监听的dom
                                entries.forEach((entry) => {
                                  if (entry.intersectionRatio >= 0) {
                                    console.log('进入可视区域')
                                    loadMore()
                                  } else {
                                    console.log('不可见')
                                  }
                                })
                              },
                            )
                            // 打开监听
                            observer.observe(observerElement.value!)
					    </code>
                    </pre>

                </div>
            </section>
            <!--!5-对比-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div style="font-size:25px; display: flex;align-items: center;" class="theme" >
                    <div class="left api-box api-box-round" data-id="box1" data-auto-animate-delay="0">
                        5
                    </div>
                    <em>性能对比:     </em>
                    <p style="font-size: 20px; margin-left: 10px">滚动加载300条数据</p>
                </div>
                <section data-markdown style="font-size: 30px; margin-top: 50px">
                    |  无限滚动   | JS Heap  | Documents| Listeners|
                    |  ----  | --------  |----|----|
                    | `scroll监听 `  | `12.5MB ~ 13.6MB` |4-4|94|
                    | `intersectionObserver`  | `6.3MB ~ 7.4MB` |1-2|50|
                </section>
                <hr>
                <div class="fragment" style="font-size: 24px;">
                    <!--                            <h4>缺点：</h4>-->
                    <div style="display: flex; flex-direction: column;justify-content: flex-start;align-items: flex-start">
                        <p class="theme" style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用<em>intersectionObserver</em>监听 ， 我们可以看到内存只占用了<em>scroll的50%</em>, 这还是300条数据的情况下，这性能差距肯定是指数级拉开的，所以用哪个就不言而喻了。</p>
                    </div>
                </div>
            </section>
            <!--!6-快的原因-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div style="font-size:25px; display: flex;align-items: center;" class="theme" >
                    <div class="left api-box api-box-round" data-id="box1" data-auto-animate-delay="0">
                        6
                    </div>
                    <text style="font-size: 30px">快的原因:  </text>
                </div>
                <div style="display: flex;width: 100%; justify-content: center; padding-left: 10%">
                    <div class="text" style="display: flex; flex-direction: column; justify-content: flex-start">
                        <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                            <em class="text-border" style="text-align: left; margin-left: 10px;font-size: 25px">异步执行</em>
                            <ul class="" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                <li>
                                    IntersectionObserver 是使用`浏览器的任务调度系统`异步处理的，这意味着观察者的回调函数不会直接阻塞主线程。
                                    <br>
                                    从而减少对渲染性能的影响。
                                </li>
                            </ul>
                        </div>
                        <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                            <em class="text-border" style="margin-left: 10px;text-align: left;font-size: 25px">硬件加速</em>
                            <ul class="" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                <li>使用浏览器底层的硬件加速技术来进行计算。scroll 事件则需要频繁地进行 DOM 查询、计算和重排操作，性能消耗较大。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
<!--        <section></section>-->
        </section>
        <!--?二、组件的动态加载-->
        <section  data-transition="convex-in concave-out">
            <!--!page-1 问题抛出-->
            <section>
                <h3>question：</h3>
                <p><em>一个页面有100个组件如何处理？</em></p>
            </section>
            <!--!page-2 api介绍-->
            <section>
                <h3><label class="theme">二、  </label>组件的动态加载</h3>
                <div class="fragment">
                    <div style="display: flex;width: 100%; justify-content: center; padding-left: 10%">
                        <div class="r-hstack justify-center" style="display: flex;flex-direction: column; justify-content: space-between">
                            <div class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                                1
                            </div>
                            <div class="vertical-center api-box" data-id="box2" style="position: relative;top: -113px">
                                2
                            </div>
                        </div>
                        <div class="text" style="display: flex; flex-direction: column; justify-content: flex-start">
                            <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                                <em class="text-border" style="text-align: left; margin-left: 10px">component </em>
                                <div class="fragment" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                    动态导入组件, 经常配合 <em>require.context</em> / <em>import.meta.glob</em>使用。
                                </div>
                            </div>
                            <div class="text-border" style="display: flex;flex-direction: column;justify-content: flex-start">
                                <em class="text-border" style="margin-left: 10px;text-align: left">defineAsyncComponent</em>
                                <div class="fragment" style="font-size: 24px;color:#3e7fee; text-align: left; padding: 10px;">
                                    异步导入组件， 在需要的时候加载。
                                    <br>
                                    <br>
<!--                                    更加关注逻辑分离-->
                                    <br>
<!--                                    高内聚，低耦合-->
                                    <!--
                                    内聚：每个模块尽可能独立完成自己的功能，不依赖于模块外部的代码。
                                    耦合：模块与模块之间接口的复杂程度，模块之间联系越复杂耦合度越高，牵一发而动全身。
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--!page-3 组件导入-->
            <section>
                <h4>组件的导入</h4>
                <h5 style="font-size: 30px" class="theme">同步</h5>
                <pre data-id="code-animation">
                    <code class="hljs" data-trim data-line-numbers>
                    import A form './A.vue'
                    import B form './B.vue'
                    import C form './C.vue'
                    ...
                    </code>
                </pre>
                <h5 style="font-size: 30px" class="theme">异步</h5>
                <pre data-id="code-animation">
                    <code class="hljs js" data-trim data-line-numbers>
                      const loadComponent = (name: string) =>
                          defineAsyncComponent({
                            loader: () => import(`./${name}.vue`),
                          })
                    </code>
                </pre>
            </section>
            <!--!page-4 流程-->
            <section>
                <h4>实现流程</h4>
                <img data-id="box-img" alt="" style="width: 70%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/workflow.png" >
            </section>
            <!--!page-5 代码-->
            <section class="page-5-code">
                <h4 style="text-transform: none;" class="theme">
                    <a target="_blank" href="https://github.com/zhoufanglu/vue3-vite-ts/blob/master/src/views/test/load-components/index.vue" style="font-size: 40px">查看代码</a>
                </h4>
                <!--<ul>
                    <li>template</li>
                    <pre data-id="code-animation">
                    <code class="hljs html" data-trim data-line-numbers>
                        <template v-for="(i, index) in components" :key="index">
                            <component :is="i.component"
                                       v-if="displayComponents.includes(i.name)" >
                            </component>
                        </template>
                        &lt;!&ndash;?IntersectionObserver监听的对象&ndash;&gt;
                        <div ref="observerElement" class="observer-element">监听的dom</div>
                    </code>
                    </pre>

                    <li>js</li>
                </pre>
                </ul>-->

            </section>
            <!--!page-6 效果-->
            <section>
                <h4 style="text-transform: none;" class="theme">实现效果</h4>
                <img data-id="box-img" alt="" style="width: 100%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/defineAsyncComponent-1.gif" >
            </section>
        </section>
        <!--?三、数据的更新-->
        <section data-transition="convex-in concave-out">
            <!--!page-1 问题抛出-->
            <section>
                <h3><label class="theme">三、  </label>组件数据的更新</h3>
            </section>
            <!--!1、模块结构-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div class="vertical-center">
                    <div style="margin-top: 8px;" class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                        1
                    </div>
                    <em>基本模块结构</em>
                </div>
                 <img data-id="box-img" alt="" style="width: 80%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/3-1.png" >
            </section>
            <!--!2、模块结构 * 10-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div class="vertical-center">
                    <div style="margin-top: 8px;" class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                        2
                    </div>
                    <em>基本模块结构 x 10</em>
                </div>
                <img data-id="box-img" alt="" style="width: 100%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/3-2.png" >
            </section>
            <!--!3、刷新操作-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div class="vertical-center">
                    <div style="margin-top: 8px;" class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                        3
                    </div>
                    <em>刷新组件 - hooks</em>
                </div>
                <pre data-id="code-animation" style="width: 100%; height: 110%">
                        <code class="hljs javascript" data-trim data-line-numbers>
function useRefreshComponent() {
  const componentVisible = ref(true)

  const refresh = async () => {
    componentVisible.value = false
    await nextTick(() => {
      componentVisible.value = true
    })
  }
  return {
    refresh,
    componentVisible,
  }
}
export { useRefreshComponent }
					    </code>
                    </pre>
            </section>
            <!--!4、实战效果-->
            <section data-auto-animate data-auto-animate-easing="cubic-bezier(0.770, 0.000, 0.175, 1.000)">
                <div class="vertical-center">
                    <div style="margin-top: 8px;" class="vertical-center api-box" data-id="box1" style="margin-top: 16px">
                        4
                    </div>
                    <em>实战效果</em>
                </div>
                                <img data-id="box-img" alt="" style="width: 100%" class="lazyload inited loaded" data-src="../assets/load-dynamic-component/hong-qiao-trade.awebp" >
            </section>
        </section>
        <section>
            <em>谢谢聆听~</em>
        </section>
    </div>
</div>

<script src="../../dist/reveal.js"></script>
<script src="../../plugin/notes/notes.js"></script>
<script src="../../plugin/markdown/markdown.js"></script>
<script src="../../plugin/highlight/highlight.js"></script>
<script>
  // More info about initialization & config:
  // - https://revealjs.com/initialization/
  // - https://revealjs.com/config/
  Reveal.initialize({
    hash: true,

    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
  });
</script>
</body>
</html>
